<h3> New Category </h3>

<form class="forms" method="POST" action="/categories/create">
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" name="category" class="form-control" id="inputcategory" placeholder="Category" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
