<h3>Remove a Category</h3>
    
<form class="forms" method="POST" action="/categories/remove">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a Category to Delete</label>
    <select class="form-control" id="exampleFormControlSelect1" name = "category">
        <option selected>Open this select menu</option>
        {{#each categories}}
            <option>{{category}}</option>
        {{/each}}
    </select>
    <div><button type="submit" class="btn btn-primary">Submit</button></div>
  </div>
</form>

